<% if @answer.errors.present? %>
    <% @answer.errors.full_messages.each do |message| %>
        $errorDiv = $('<div><%= j message %></div>').addClass('answer-errors');
        $(".container").html($errorDiv.html());
    <% end %>
<% else %>
    $('.answers').append('<%= j render @answer %>');
    $('.new_answer #answer_body').val('');
<% end %>